.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 180px;
}
  
  .login-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .login-input {
    width: 88%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-error {
    color: #e74c3c;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #c0392b;
  }
  
  .login-link {
    display: block;
    text-align: center;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  